header {
    position:relative;
    overflow: hidden;
    width: 100%;
    background-color: #333; /* Example color */
    z-index: 1000; /* Ensure the header stays above other content */
}
header h1 {
    text-align: center;
    font-size: 24pt;
    color: white;
}

header .right {
    float: right;
}

.navbar {
    height: 100%;
    display: column;
}

@media screen and (min-width: 510px) {


    .burger-menu {
        display: none;
    }
    
   
    .navbar a {
        display: inline-block;
        text-align: center;
        color: white;
        text-decoration: none;
        border-radius: 0 10px 10px 10px;
        border: outset;
        border-color: #d3dd18;
        padding: 5px;
        margin: 5px;
    }

    .navbar a:hover {
        background-image: linear-gradient(to right, #d3dd18, #f8d90f);
        color: black;
    }

    .navbar .active {
        background: linear-gradient(to right top, #e6dada, #274046);
        font-weight: 600;
        color: black;
    }
}

@media screen and (max-width=509px) {
    .navbar a{
        display: none;
    }
}


@media screen and (max-width=509px) {

    .burger-menu div {
        height: 4px;
        background-color: white;
        margin: 5px 0;
        border-radius: 25px;
        transition: 0.3s;
        float: right;
    }

    .burger-menu {
        width: 30px;
        display: block;
        margin-right: 1em;
        float: right;
        position: relative;
    }

    .one {
        width: 30px;
    }

    .two {
        width: 20px;
    }

    .three {
        width: 25px;
    }

    .burger-menu:hover div {
        width: 30px;
    }
    
}

@media screen and (max-width=509px) {

    .dropdown-content {
        display: none;
        position: absolute;
        left: -130px;
        top: 100%;
        right: 160px;
        background: linear-gradient(to right, #4c5c3f, #4e6668);
        border-radius: 10px;
        width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    .dropdown {
        padding: 12px 16px;
        text-decoration: none;
        background: linear-gradient(to right, #314d5e, #476354, #455961);
        display: block;
        text-align: left;
        float: left;
        margin: 5px;
        width: 115px;
    }

    .burger-menu:hover,
    .burger-menu:hover .dropdown-content {
        display: block;
    }
}



footer {
    position: fixed;
    bottom:0;
    left: 0;
    width: 80%;
    background-color: #333; /* Example color */
    color: white; /* Example color */
    text-align: center;
    padding: 10px 0;
    z-index: 999; 

}

footer h2 {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

footer p {
    text-align: left;
    font-size: 8pt;
    margin: 5px;
    color: grey;
}