.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left, .left-fall {
  width: 65%;
}

.game-detales {
  width: 32%;
  align-self: baseline;
}

.video-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container iframe {
  display: none;
  width: 100%;
  height: inherit;
}

.video-container iframe.active {
  display: block;
}

.video-container .image {
  display: none;
}

.video-container .image.active {
  display: block;
  width: 100%;
  height: inherit;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  margin-top: 20px;
  color: white;
}

.info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
 
}

.description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.detail {
  margin-bottom: 10px;
}

.detail strong {
  display: inline-block;
  width: 100px;
}

.tags {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  color: white;
}

.tag {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #444;
  color: #eee;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
}

.play-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  /* Set the width of the slider */
  height: 200px;
  /* Set the height of the slider */
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
}

.screenshot {
  flex: 0 0 150px;
  /* Set the width of each screenshot */
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.screenshot img {
  width: 200px;
  height: 112px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.screenshot img:hover {
  box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7);
}

.screenshot img.selected {
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.7);
}