* {
  box-sizing: border-box;
}

/* Column container */
.profile {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

/* Sidebar/left column */
.image {
  flex: 80%;
  padding: 5px;
  color: white;

}

/* Main column */
.info {
  display: grid;
  flex: 15%;
  padding: 20px;
  justify-content: center;
  align-content: center;
  margin: 5px;
}

.image img {
  background-color: lightgrey;
  margin: 5px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.info label {
  font-size: 14pt;

}

.info button {
  font-size: 16pt;
  height: fit-content;
  width: fit-content;
  color: white;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0 10px;
  margin: 10px;
  padding: 10px;

}

.info button:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.witcher,
.fall,
.newveg,
.sky {
  display: contents;
  width: 190px;
  text-align: center;
  position: relative;

}

.product-image {
  display: inline-flex;
  height: 200px;
  margin-left: 5px;
}

.product-image img {
  max-height: 100%;
  /* Ensure the image fits within the container */
  max-width: 100%;
  /* Ensure the image fits within the container */
}


.game-name {
  display: none;
  position: absolute;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.witcher:hover .game-name,
.fall:hover .game-name,
.newveg:hover .game-name,
.sky:hover .game-name {
  display: block;
  /* Show the game name on hover */
}


label {
  color: white;
  font-size: 16px;
  text-align: center;
}


.games {
  display: inline-flex;
  border-left: 2px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10PX;

}


.side h2 {
  display: block;
  margin-top: 5px;

  padding-bottom: 5px;
  border-bottom: 1px solid white;
  /* Add a horizontal line below each section */
}

h3 {
  color: white;
  font-size: 24pt;
  text-align: center;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  padding-bottom: 10px;
  flex: 80%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40PX;
  border-bottom-right-radius: 40px;
}

.account {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

/* Sidebar/left column */
.onliene {
  padding: 10px;
  margin: 2px;
  color: white;
}

/* Main column */
.offline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 2px;
}

.friend {
  width: 300px;
  height: 60px;
  background: #EEE;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.friend img {
  width: 45px;
  height: 45px;
  border-radius: 30px;
  border: 2px solid #AAA;
  object-fit: cover;
  margin-left: 5px;
  margin-right: 10px;
}

.friend .name {
  font-size: 18px;
}

.friend.online {
  background: #43A047;
  color: white;
}

.friend.online img {
  border-color: white;
}

.friend:not(.online):hover {
  background: #DDD;
}

main {
  margin-bottom: 100px;
}