/* File contents
Grid
index style 
Game info style
Profile style
Settings style
About us style
Career style
Job details style
Application form style 
Cart style
Payment style
Payment sucsesful style
Payment denied
Order Style
Return style
Return form Syle 

*/

/* Grid
––––––––––––––––––––––––––––––––––––––––––––––––––*/
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%;
  }

  .column,
  .columns {
    margin-left: 4%;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  .two.columns {
    width: 13.3333333333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.6666666667%;
  }

  .five.columns {
    width: 39.3333333333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.6666666667%;
  }

  .eight.columns {
    width: 65.3333333333%;
  }

  .nine.columns {
    width: 74.0%;
  }

  .ten.columns {
    width: 82.6666666667%;
  }

  .eleven.columns {
    width: 91.3333333333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }

  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }

}


/* index style
––––––––––––––––––––––––––––––––––––––––––––––––––*/

* {
  margin: 0;
}

body {
  background-color: #333;
  margin: 0;
}

header {
  overflow: 0;
  position: fixed;
  width: 100%;
  height: auto;
  color: white;
  background-image: linear-gradient(to right, #346662, #364e5e, #304d5c);

}

header h1 {
  text-align: center;
  font-size: 24pt;
}


.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  margin-left: 1em;
  transition: 0.3s
}

.nav {
  width: 100%;
  display: block;
  margin: 0;
  position: absolute;
  background-image: linear-gradient(to right, #346662, #364e5e, #304d5c);

}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: linear-gradient(to right, #4c5c3f, #4e6668);
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background: linear-gradient(to right, #314d5e, #476354, #455961);
  display: block;
  color: white;
  text-align: left;
  margin: 5px;
}

.dropdown-content a:hover {
  background-image: linear-gradient(to right, #d3dd18, #f8d90f);
  color: black;
}

.dropdown-content .active {
  background: linear-gradient(to right top, #e6dada, #274046);
  font-weight: 600;
  color: black;
}

.nav:hover,
.nav:hover .dropdown-content {
  display: block;
}


.serch-bar {
  display: inline-block;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  height: 80px;
  width: 100%;
  background: linear-gradient(to right, #346662, #364e5e, #304d5c);
  color: white;
}

.footer h2 {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.footer p {
  text-align: left;
  font-size: 8pt;
  margin: 10px;
  color: grey;
}


/* Game info style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Profile style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Settings style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* About us style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Career style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Job details style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Application form style 
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Cart style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Payment style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Payment sucsesful style
––––––––––––––––––––––––––––––––––––––––––––––––––*/


/* Payment denied
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Order Style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Return style
––––––––––––––––––––––––––––––––––––––––––––––––––*/



/* Return form Syle 
––––––––––––––––––––––––––––––––––––––––––––––––––*/